/**
 *
 * Folha de Estilos Padrão do site
 *
 *	Theme Name: CMS
 *	Version: 1.0
 *	Author: Infinito Web Sites
 *	Author URI: http://www.infinitoag.com
 *
**/
/***********************************
 * DEFINIÇÕES PRINCIPAIS
***********************************/
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 20px;
    overflow-x: hidden;
    color: #000;
    background-color: #f6f6f6;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none !important;
}

a, a:hover {
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h2, h3, h4 {
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

/***********************************
 * BOTÕES E FORMS
***********************************/

.btn, .form-control {
    font-size: 14px;
}

.btn {
    border-radius: 0;
    box-shadow: none;
    outline: 0;
}

.btn-danger, .btn-danger:hover,
.btn-primary, .btn-primary:hover,
.btn-warning, .btn-warning:hover,
.btn-default, .btn-default:hover {
    background: #401A00;
    border-color: #401A00;
    color: #FFF !important;
}

.btn-rounded {
    border-radius: 25px;
}

.form-control {
    border-radius: 25px;
    box-shadow: none;
    background: #FFF;
    border: 1px solid #ddd;
}

textarea.form-control {
    border-radius: 15px;
}

.form-control:focus {
    border: 1px solid #999;
    box-shadow: none;
}

/***********************************
 * CLASSES E ELEMENTOS PRINCIPAIS
***********************************/

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.page-header {
    margin: 0 0 50px;
    border: 0;
    background-color: #EEEEEE;
    padding: 10px 20px 5px;
    border-radius: 2px;
}

.alignleft {
    float: left;
    margin: 0 5px 5px 0;
}

.alignright {
    float: right;
    margin: 0 0 5px 5px;
}

.saiba-mais .btn {
    margin-right: 10px;
    margin-bottom: 15px;
}

.info-contato .fone {
    font-weight: bold;
}

.info-contato .email {
    font-size: 11px;
}

.info-contato {
    font-size: 14px;
    letter-spacing: -0.5px;
    padding: 8px 0;
}

hr.separator {
    position: relative;
    border: 0;
    display: block;
    margin: 40px 0;
    height: 1px;
    background-color: #383737;
}

hr.separator-cyan {
    background-color: #9cdce5;
}

.nav-tabs .nav-link {
    border: 0;
    border-bottom: 2px solid #ddd;
    border-radius: 0;
    min-width: 240px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: bold;
    background: none;
    border-color: #401A00;
}

/***********************************
 * CABECALHO E MENU
***********************************/

.scrolled #top-header,
.scrolled header#header,
.scrolled div#middle-header,
.scrolled #header-logo img,
.scrolled #main-nav .nav .menu-item a,
#top-header,
header#header,
div#middle-header,
#header-logo img,
#main-nav .nav .menu-item a {
    transition: 0.3s;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 333;
    background: #fafafa;
    transition: 0.3s;
}

.admin-bar #header {
    top: 32px;
}

#top-header {
    padding-top: 25px;
    background: #fff;
    overflow: hidden;
    min-height: 100px;
}

#busca {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    height: 100%;
}

#link-contato, #header-social {
    display: inline-block;
    vertical-align: middle;
}

#busca form#searchform .form-group {
    width: 80%;
}

#busca form#searchform {
    width: 100%;
    background: #FFF;
    padding: 3px 10px 3px;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 2px;
}

#busca #searchform #s {
    width: 100%;
    height: 22px;
    padding: 5px;
    border: 0;
    outline: 0;
}

#busca button#searchsubmit {
    padding: 0;
    background: none;
    border: 0;
    width: 20%;
}

#header-social {
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    height: 100%;
    display: flex;
    align-items: center;
}

#header-social .social {
    width: 100%;
    text-align: center;
}

#header-social a {
    font-size: 17px;
    display: inline-block;
    padding: 2px;
    vertical-align: middle;
}

#top-menu {
    height: 100%;
    display: flex;
    align-items: center;
}

#top-menu a.nav-link {
    border-radius: 0;
}

#middle-header {
    padding: 30px 0;
}

#header-logo {
    display: block;
    text-align: center;
}

#main-menu {
    background: transparent;
    border: 0;
    margin: 0;
    position: relative;
}

#main-menu:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,be1421+50,ffffff+100 */
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, #9D9109 50%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, #9D9109 50%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, #9D9109 50%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
}

#main-menu .nav {
    float: none;
    text-align: center;
    display: block;
}

#main-menu .nav .menu-item {
    float: none;
    display: inline-block;
}

#main-nav .nav .menu-item a {
    color: #333;
    position: relative;
    font-size: 20px;
    padding: 20px;
}

#main-nav .nav .menu-item.current-menu-item a {
    font-weight: bold;
}

#main-nav .nav .menu-item-has-children a {
    padding-right: 30px;
}

#main-nav .nav .menu-item-has-children > a:after {
    content: "";
    background: transparent url('img/seta-baixo.png');
    width: 12px;
    height: 9px;
    position: absolute;
    right: 10px;
    top: 27px;
}

#main-nav .nav .menu-item:hover > ul.sub-menu,
#main-nav .nav .menu-item > ul.sub-menu:hover {
    display: block;
    transition: 0.2s;
}

#main-nav ul.sub-menu {
    display: none;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 10px;
    transition: 0.2s;
}

#main-nav ul.sub-menu > .menu-item > .sub-menu {
    left: 100%;
    top: 0;
    background: rgba(0, 0, 0, 1);
}

#main-nav .nav .sub-menu .menu-item a {
    display: block;
    background: #9D9109;
    width: 200px;
    padding: 10px;
    color: #FFF;
    font-size: 14px;
    text-align: left;
}

#breadcrumbs {
    text-align: left;
    margin-top: 25px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

#breadcrumbs a {
    padding-right: 80px;
    position: relative;
    margin-right: 10px;
}

#breadcrumbs a::after {
    content: " ";
    width: 60px;
    background: #0b0b0b;
    display: inline-block;
    top: 9px;
    position: absolute;
    height: 1px;
    right: 0px;
}

#breadcrumbs span, #breadcrumbs a {
    display: inline-block;
    color: #393939;
    font-size: 15px;
    font-weight: 400;
}

#breadcrumbs .breadcrumb_last {
    /*font-weight: bold;*/
}

.navbar {
    background-color: #f6f6f6;
}

.navbar {
    min-height: 100px;
}

.navbar-toggler-icon img{
    cursor: pointer;
}

.navbar-brand{
    margin-left: 10%;
}

.navbar-toggler-icon{
    margin-right: 10%;
}

.main {
    padding-top: 100px !important;
}

#menu-suspenso {
    position: fixed;
    background-color: #c32144;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    padding-top: 60px;
}
#menu-suspenso .container .meio{
    text-align: center;
    color: white;
}

#menu-suspenso .container .meio a.nav-link {
    color: white;
    font-size: 35px;
    padding: 20px;
}
#menu-suspenso .container .meio a.nav-link:hover {
    color: #c5c5c5;
}

#menu-suspenso .container .menu-logo{
    text-align: right;
    color: white;
}

#menu-suspenso .container .menu-back{
    text-align: left;
    color: white;
    font-size: 15px;
}
#menu-suspenso .container .menu-back span {
    cursor: pointer;
}
#menu-suspenso .container .menu-back img {
    padding-left: 10px;
}

@media ( max-width: 767px ) {
    #menu-suspenso .container .menu-back{
        padding: 20px;
        text-align: center;
    }
    #menu-suspenso .container .menu-logo{
        padding: 20px;
        text-align: center;
    }

    .navbar {
        min-height: 80px;
    }

    .main {
        padding-top: 80px !important;
    }

    .navbar-brand{
        margin-left: 0;
    }

    .navbar-toggler-icon{
        margin-right: 0;
    }
}

#home-our-products-row{
    background-color: transparent !important;
}

/***********************************
 * RODAPÉ
***********************************/

#footer, #footer a {
    color: #F6F6F6;
}

#footer {
    background-color: #232323;
    font-size: 13px;
    line-height: 16px;
    padding-top: 30px;
    padding-bottom: 100px;
}

#footer .title-separator {
    color: #676767;
}

#footer #footer-logo {
    min-height: 60px;
    line-height: 44px;
}

#footer #bottom-menu {
    min-height: 60px;
    line-height: 44px;
}

#footer .social {
    height: 100%;
    min-height: 60px;
    display: flex;
    border-left: 1px solid #CCCCCC;
    align-items: center;
    max-width: 100px;
}

#footer .social a {
    margin-left: auto;
    font-size: 22px;
    display: inline-block;
}

#copyright {
    padding: 10px;
    margin-top: 30px;
    font-size: 12px;
}

#copyright a {
    color: #FFF;
}

#loading {
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: #FFF url('img/loading.gif') no-repeat center;
    display: block;
    top: 0;
    left: 0;
}

/***********************************
 * CONTEUDO / CORPO DO SITE
***********************************/

.main .content > header {
    padding: 20px 0 10px;
    margin: 108px 0 50px;
    position: relative;
    z-index: 0;
}

.main .content {
    max-width: 1600px;
    margin: auto;
}

.main section.content {
    min-height: 450px;
}

header .page-title {
    position: relative;
    margin: 10px 0 20px;
    font-size: 36px;
    font-family: "Vidaloka", serif;
    font-style: italic;
    padding: 10px 20px 0 50px;
}

header .page-subtitle {
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-family: "Vidaloka", serif;
}

.content-body {
    overflow-x: hidden;
}

.texto-destaque {
    height: 190px;
}

#page-content .social a {
    font-size: 22px;
    color: #000;
    display: inline-block;
}

#related-pages li.parent a {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #bf1515;
}

#related-pages li {
    font-size: 16px;
    margin-bottom: 10px;
}

#related-pages li a {
    color: #000;
    font-size: 16px;
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
}

#related-pages li.current > a {
    font-weight: bold;
}

#related-pages ul.sub-menu {
    padding: 10px 0 15px 15px;
}

.section-title {
    background: #BF1515;
    color: #FFF;
    text-align: center;
    margin: 0 50px 20px -65px;
    padding: 120px 0;
}

h1.subtitle {
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 0;
}

/***********************************
 * PÁGINAS
***********************************/

/*home*/


a#home-logo-link {
    left: 240px;
    top: 69px;
}

#home-slider-row {
    height: 900px;
}

#homes_slider {
    background-color: #f6f6f6;
}

#homes_slider .cycloneslider {
    margin: 0;
}

.home-content-showcase .thumb img {
    height: 400px;
}

.home-content-showcase > .row {
    margin-left: initial;
    margin-right: initial;
}

.home-content-showcase .item-showcase {
    padding: 0;
}

.home-content-showcase .item-showcase .thumb {
    /*transition: all .2s ease-in-out;*/
}

.home-content-showcase .item-showcase .thumb:hover {
    /*background: #9cdce5;*/
}

.home-content-showcase .item-showcase .thumb {
    z-index: 1;
    position: relative;
    width: 100%;
    transition: all .2s ease-in-out;
}

.home-content-showcase .item-showcase .thumb::after {
    content: " ";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #9cdce5;
    top: 0;
    left: 0;
}

.home-content-showcase .item-showcase .thumb img {
    z-index: 2;
    position: relative;
    top: 0;
    transition: all .2s ease-in-out;
    left: 0;
    width: 100%;
}

.home-content-showcase .item-showcase .thumb:hover {
    z-index: 3;
    transform: scale(1.1);
}

.home-content-showcase .item-showcase .thumb .link {
    display: none;
    font-family: 'Vidaloka', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    color: #484848;
    text-align: center;
}

.home-content-showcase .item-showcase .thumb .link .arrow {
    font-size: 50px;
}

.home-content-showcase .item-showcase .thumb:hover .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center
}

.home-content-showcase .item-showcase .thumb .link span {
    margin: 0;
}

.home-content-showcase .item-showcase .thumb:hover img {
    opacity: 0.05;
}

.blog-list-area {
    height: 260px;
}

.blog-list-area a {
    color: #F6F6F6;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;

}

.home-content-showcase .movel {
    position: relative;
}

/*.produto .link {*/
/*display: none;*/
/*}*/

/*.produto:hover .link {*/
/*display: block;*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 100%;*/
/*transform: scale(1.2);*/
/*}*/

#home-about-title {
    color: #F6F6F6;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 100;
}

#home-about-description {
    font-family: 'Vidaloka', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 33px;
    line-height: 40px;
}

.home-blog-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.blog-post {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
}

#home-about-row {
    color: #F6F6F6;
    height: auto;
    padding-bottom: 90px;
}

div#perfil-linkedin {
    text-align: center;
}

div#perfil-linkedin a {
    color: #333;
}

#galeria-clientes {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap
}

#galeria-clientes .logo-cliente {
    min-width: 100px;
    min-height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin: 30px auto;
}

#galeria-clientes .logo-cliente:first-child {
    /*margin-left: 0;*/
}

#galeria-clientes .logo-cliente:last-child {
    /*margin-right: 0;*/
}

#galeria-clientes .col {
    text-align: center;
}

#galeria-clientes .col img {
    margin: auto;
}

#home-our-products-row {
    width: 70%;
}

.home-products {

}
.home-products span{
    font-weight: bold;
    font-size: 14px;
    text-align: justify;
    padding-top: 10px;
}
.home-products p{
    font-size: 13px;
    font-style: normal;
    padding-top: 10px;
    line-height: 15px;
    letter-spacing: 2px;
}
.home-products-col{
    margin: 10px;
    cursor: pointer;
}
.home-showcase{
    margin-top: 40px;
    width: 70%;
    color: white;
}

.home-showcase .home-products-col .img-case{
    width: 100%;
    height: 200px;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
}

.home-showcase span{
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
}
.home-showcase p{
    font-size: 13px;
    font-style: normal;
    padding-top: 10px;
    line-height: 15px;
    letter-spacing: 2px;
}

.home-red-belt{
    background-color:#c32144;
    width: 100%;
    margin-top: -200px;
    padding-top: 200px;
}
.home-red-belt .red-belt-content{
    width: 70%;
}
.home-red-belt .red-belt-content hr{
    border-top: 1px solid #ccc;
    width: 50%;
}

.home-red-belt .blog{
    color: white;
    text-align: center;
}
.home-red-belt .blog .row h3{
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

.home-red-belt .blog .row p{
    text-align: center;
    width: 100%;
}
/* contato */

article#contato .forms-area {
    background-color: #676767;
}

#contato .form-tab-pane {
    padding: 80px;
}

#contato .btn-submit {
    padding: 15px 50px;
    background: #9cdce5;
    font-family: Vidaloka, serif;
    font-style: italic;
    font-size: 22px;
    color: #3c3c3c;
    border: none;
    float: right;
    margin-bottom: 20px;
}

#contato .form-control {
    border-radius: 0;
    box-shadow: none;
    background: #d5d2d2;
    min-height: 50px;
    padding: 15px 25px;
    border: none;
    margin-bottom: 50px;
    font-size: 16px;
}

#contato .form-control::placeholder {
    color: #676767;
}

#contato #page-sidebar {
    color: #FFFFFF;
    font-family: Vidaloka, serif;
    padding: 0 20px;
    font-size: 16px;
}

/*arquivos*/

p.link-arquivo {
    display: inline-block;
    padding: 20px;
    background: #f0f0f0;
    margin: 5px;
    font-size: 24px;
}

.arquivos-posts {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 3px;
}

.arquivos-posts .arquivo-post a {
    color: #9c0000;
    display: block;
    margin-bottom: 5px;
}

span.arquivo-post-data {
    color: #999;
    font-size: 14px;
    display: block;
    margin-bottom: 2px;
    margin-top: 15px;
}

/*servicos*/

.servico .servico-titulo {
    margin-top: 20px;
    padding: 0 40px;
}

.servico {
    text-align: center;
    margin-bottom: 50px;
    color: #000;
    font-size: 20px;
    font-weight: 300;
}

div#servicos-relacionados {
    padding: 0 100px;
}

div#servicos-relacionados .servico {
    font-size: 14px;
}

div#servicos-relacionados .servico .servico-thumb {
    max-width: 140px;
    margin: 0 auto;
}

#servico #page-content h2, #servico #page-content h1, #servico #page-content h3 {
    font-size: 20px;
    text-transform: uppercase;
}

/*treinamentos*/

.curso h2, .curso h1, .curso h3 {
    font-size: 20px;
}

.curso {
    background: #EEEEEE;
    padding: 30px;
    margin-bottom: 30px;
}

/***********************************
 * BLOG & WIDGETS
***********************************/

/*widgets*/
.widget {
    margin-bottom: 50px;
}

.widgettitle {
    border: 0;
    margin-bottom: 25px;
    font-family: 'Ubuntu', serif;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.widget ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
}

.widget .product-categories .cat-item a {
    display: block;
    margin: 10px 0;
}

.widget .product-categories .children {
    list-style: none;
    padding: 0 0 0 20px;
    margin-bottom: 30px;
}

.widget .product-categories .children .cat-item a {
    font-weight: normal;
    color: #666;
}

.widget .product-categories .children .current-cat a {
    color: #000;
    font-weight: bold;
}

.widget .product-categories .cat-item a {
    color: #666;
}

.widget .product-categories .current-cat > a {
    font-weight: bold;
}

.widget .product-categories .current-cat a {
    color: #000;
}

.pink-background {
	background-color: #c32144;
}

#sidebar .widget_categories li {
    margin-bottom: 5px;
}

.widget_recent_entries span.post-date {
    color: #999;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}

#blog .upw-posts article,
#single .upw-posts article {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#blog .upw-posts .entry-title,
#single .upw-posts .entry-title {
    margin-bottom: 5px;
}

#sidebar-toggle {
    display: none;
}

/*blog*/

.post-item {
    margin-bottom: 50px;
}

.post .thumb {
    text-align: center;
}

.post-item .thumb img {
    height: auto;
}

.post-item h1 {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.post-header-meta {
    font-size: 11px;
}

.post-header-meta, .post-header-meta a {
    color: #999;
}

.post-item .excerpt p {
    color: #666;
}

/***********************************
 * UTILS
***********************************/

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center
}

.centered-container .centered-item {
    margin: 0
}

.tab-text-img p {
    text-align: justify;
    font-size: 18px;
    line-height: 33px;
}

.title-separator {
    display: table;
    white-space: nowrap;
    overflow: hidden;
    margin: 20px auto 40px;
    font-weight: 300;
}

.title-separator:before, .title-separator:after {
    border-top: 1px solid #383737;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
}

.title-separator:before {
    right: 1.5%;
}

.title-separator:after {
    left: 1.5%;
}

/***********************************
 * OVERRIDE BOOTSTRAP
***********************************/

.nav-tabs {
    justify-content: center;
    border-bottom: none;
}

.nav-tabs .nav-link {
    border-width: 1px;
    border-color: #ccc;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #ccc;
}

/***********************************
 * MEDIA QUERIES
***********************************/

@media ( max-width: 1200px ) {
    #top-header .info-contato {
        margin-right: -20px;
        font-size: 13px;
    }

    #top-menu a.nav-link {
        font-size: 14px;
        padding: 8px;
    }

    .servico {
        font-size: 18px;
    }

    #servicos-relacionados .servico .servico-titulo {
        padding: 0 20px;
    }

    .home-content-showcase .thumb img {
        height: 300px;
    }
}

@media ( max-width: 1000px ) {
    #menu-menu-topo {
        margin: 20px auto 0;
    }

    #header-social {
        border: none;
        text-align: center;
    }
}

@media ( max-width: 900px ) {
    #sidebar-toggle {
        display: block;
    }

    #sidebar-toggle a {
        display: block;
        margin: 0 0 15px;
        padding: 10px;
        text-align: center;
        background: #F0f0f0;
    }

    .home-content-showcase .thumb img {
        height: 225px;
    }

    #home-about-row {
        padding-bottom: 0px;
    }
}

@media ( max-width: 768px ) {
    .admin-bar #header {
        top: 47px;
    }

    div#busca {
        display: none;
    }

    #header-logo {
        border: 0;
        text-align: center;
        display: block;
        margin: 0;
        padding: 0;
    }

    .home-info-middle {
        min-height: 0;
        margin: 20px 0;
        padding: 20px 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .home-info-middle:before, .home-info-middle:after {
        display: none;
    }

    header .page-title {
        text-align: center;
        font-size: 26px;
        margin-bottom: 0;
    }

    #breadcrumbs {
        text-align: center;
        font-size: 11px;
    }

    #page-sidebar {
        min-height: 0;
        background: #f9f9f9;
        padding: 10px;
        margin-bottom: 50px;
    }

    #page-sidebar:after, #page-sidebar:before {
        display: none;
    }
}

@media ( max-width: 767px ) {
    .main {
        padding-top: 193px;
    }

    .scrolled #header,
    .admin-bar.scrolled #header {
        top: 0;
    }

    #mobile-menu {
        margin-bottom: 0;
        padding: 5px 0;
        border-top: 1px solid #ddd;
    }

    #mobile-menu button.navbar-toggler {
        display: block;
        text-align: center;
        width: 100%;
    }

    #mobile-menu .menu-item.current-menu-item a.nav-link {
        color: #27ae60;
        font-weight: bold;
    }

    #top-header .info-contato {
        margin-right: 0;
        margin-left: -15px;
        font-size: 12px;
    }

    #main-menu {
        display: none;
    }

    #perfil-linkedin iframe {
        max-width: 100%;
    }

    div#servicos-relacionados {
        padding: 0 20px;
    }

    .curso {
        padding: 20px;
        font-size: 14px;
    }

    .home-content-showcase .thumb img {
        height: 192px;
    }

    #footer #footer-logo {
        text-align: center;
    }

    #footer .social {
        border: none !important;
        margin: auto;
    }

    #footer .social a {
        margin: auto;
    }

}

/* BOOTSTRAP md */
@media ( max-width: 576px ) {

    .home-content-showcase .thumb img {
        height: 576px;
    }

    #footer .social {
        margin-top: 20px !important;
    }

}

@media ( max-width: 375px ) {

    .home-content-showcase .thumb img {
        height: 375px;
    }
}

